#%RAML 1.0
---
title: GR8DI Website API
baseUri: http://api.gr8di.com
version: v1
protocols: [HTTPS]
mediaType: application/json

securitySchemes:
  basicAuth: !include securitySchemes/Basic.raml

uses:
  types: !include libraries/types/types.raml

traits:
  pageable: !include traits/pageable.raml
  searchable: !include traits/searchable.raml
  sortable: !include traits/sortable.raml


/pages:
  /{language}:
    get:
      description: gets all pages
        responses:
          200:
            body:
              application/json:
                type: !include libraries/types/Page.raml
                example: !include examples/pages.json
          204:
            description: No Content
          400:
            body:
              application/json:
                type: !include libraries/types/Error.raml
                example: !include examples/error.json

  /{id}:
    get:
    securedBy: basicAuth
      description: get a page by its id
        responses:
          200:
            body:
              application/json:
                type: !include libraries/types/Page.raml
                example: !include examples/page.json
          204:
            description: No Content
          400:
            body:
              application/json:
                type: !include libraries/types/Error.raml
                example: !include examples/error.json

    put:
      securedBy: basicAuth
      description: Update a new page
      body:
        type: !include libraries/types/Page.raml
        example: !include examples/page.json
      responses:
        202:
          description: Accepted
        400:
          description: Bad Request.
          body:
            application/json:
              type: !include libraries/types/Error.raml
              example: !include examples/error.json

    delete:
      securedBy: basicAuth
      description: Delete page
      body:
        type: !include libraries/types/Page.raml
        example: !include examples/page.json
      responses:
        202:
          description: Accepted
        400:
          description: Bad Request.
          body:
            application/json:
              type: !include libraries/types/Error.raml
              example: !include examples/error.json

  post:
    securedBy: basicAuth
    description: Creates a new page
    body:
      type: !include libraries/types/Page.raml
      example: !include examples/page.json
    responses:
      202:
        description: Accepted
      400:
        description: Bad Request.
        body:
          application/json:
            type: !include libraries/types/Error.raml
            example: !include examples/error.json

/messages:
    resourceTypes:
        collection:
            description: Contains all sets of messages
            get:
              securedBy: basicAuth
              description: gets all messages that match query parameter
              queryParameters:
                senderEmail:
                      type: string
                      required: true
                      example: "jobs@awesome.io"
                message:
                      type: string
                      required: true
                      example: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec vehicula dolor, sit amet molestie ..."
                topic:
                      type: string
                      required: true
                      example: "Neque porro quisquam"

                responses:
                        200:
                            body:
                                application/json:
                                    types: !include examples/Email.json
                                    example: !include examples/emails.json
            post:
              description: creates a new message
              body:
                application/json:
                  type: !include libraries/types/Email.raml
              responses:
                  202:
                      body:
                          application/json:
                              type: !include libraries/types/Email.raml
                              example: !include examples/emails.json
	/{messageId}:
      collection-item:
        get:
          securedBy: basicAuth
          description: gets a particular message by its id
          responses:
            200:
              body:
                application/json:
                  example: !include examples/emails.json
            404:
              body:
                application/json:
                  example:!include examples/error.json
        delete:
          securedBy: basicAuth
          description: delete message by id




/jobs:
	description: Job entity
	get:
        description: Get all job posts
                emailAddress:
                    example:"jobs@awesome.io"
                    type: string
                    required: true
                companyName:
                    example:"Awesome Inc"
                    type: string
                    required: false
                jobLocation:
                    example:"Remote"
                    type: string
                    required: false
                jobTitle:
                example: "Grails developer"
                    type: string
                    required: false
                jobExperienceLevel:
                    example: "entry level"
                    type: string
                    required: true
                jobType:
                    example: "part-time"
                    type: string
                    required: true
                tags:
                    example: "groovy, grails, backend"
                    type: string
                    required: false
                salaryrangeFrom:
                    type: float
                    required: true
                    example: "$1000"
                salaryrangeTo:
                    type: float
                    required: true
                    example: "$3000"
                jobDescription:
                    example: "As a grails developer for Awesome Inc your responsibilities will include..."
                    type: Long
                    required: true
	post:
	    description: Creates new Job
        body:
          type: !include libraries/types/Job.raml
            example: !include examples/job.json
        responses:
          202:
            description: Accepted
          400:
            description: Bad Request.
              body:
                application/json:
                  type: !include libraries/types/Error.raml
                  example: !include examples/error.json




	/{jobId}:
      get:
      securedBy: basicAuth
        description: Get a job with jobId = {jobId}
          body:
            application/json:
                type: message
          responses:
            200:
               body:
                  application/json:
                     type: !include libraries/types/Job.raml
                     example: !include examples/job.json
            404:
               body:
                   application/json:
                      type: !include libraries/types/Error.raml
                      example: !include examples/error.json

      put:
        securedBy: basicAuth
              description: Updates a Job
              body:
                type: !include libraries/types/Job.raml
                example: !include examples/job.json
              responses:
                202:
                  description: Accepted
                404:
                  description: Not found
                  body:
                    application/json:
                      type: !include libraries/types/Error.raml
                      example: !include examples/error.json


      delete:
        securedBy: basicAuth
              description: Delete Job
              body:
                type: !include libraries/types/Job.raml
                example: !include examples/job.json
              responses:
                202:
                  description: Accepted
                404:
                  description: Not found
                  body:
                    application/json:
                      type: !include libraries/types/Error.raml
                      example: !include examples/error.json

/reports:
  post:
    /{statsId}:
      get:
        description: displays the statistics for a particular page
        responses:
          200:
            body:
              application/json:
                example: !include examples/stats.json


          404:
            body:
              application/json:
                example: !include examples/error.json

  put:


